<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input type="text" matInput [placeholder]="placeholder"
                              [formControl]="control"
                              [matAutocomplete]="auto"
                              [required]="required">
  <mat-autocomplete #auto="matAutocomplete"
                    [displayWith]="displayWithFn.bind(this)"
                    (optionSelected)="selectedOption($event)">
    <mat-option *ngFor="let item of itens" [value]="item">
      {{ item?.codigo }} - {{ item?.descricaoCompleta }}
    </mat-option>
  </mat-autocomplete>
  <div matSuffix *ngIf="isLoading">
    <mat-spinner [diameter]="20"></mat-spinner>
  </div>
  <button matSuffix *ngIf="!isLoading && selectedItem" mat-button mat-icon-button aria-label="Remover" (click)="removeSeletedItem()">
    <mat-icon>close</mat-icon>
  </button>

</mat-form-field>
